:root {
    /* Colors for the page */
    --primary-color: white;
    --secondary-color: rgba(202, 199, 192, 0.605);
    --box-shadow-color: rgba(0, 0, 0, 0.18);
    --button-border-color: rgba(64, 63, 61, 0.527);
    --hashtag-background-color: rgba(202, 199, 192, 0.605);
    --third-color: #000;
    --font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: red solid 1px; */
}

body {
    display: flex;
    flex-direction: column;
}

/* Upper part of the page */
.main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    position: fixed;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow-color) 0px 0px 10px 1px;
}

h1 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Main part */
.main-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 5rem;

    background-color: var(--primary-color);
    gap: 1.5rem;
}

/* Quiz boxes - buttons have no function for now*/
.main__quiz-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 90%;
    min-height: 10rem;
    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: var(--box-shadow-color) 0px 0px 20px 5px;
}

.main__quiz-bookmark {
    position: absolute;
    width: 2.5rem;
    right: 0.6rem;
    top: -0.6rem;
}

.main__pressed {
    z-index: -1;
}

#bookmark {
    position: absolute;
    width: 2.5rem;
    right: 0.6rem;
    top: -0.6rem;
    z-index: 1;
    width: 3em;
    height: 3em;
    z-index: 2;
    opacity: 0;
}

#bookmark:checked+label>img:last-child {
    z-index: 1;
}

.main__questions {
    padding-top: 3rem;
    padding-bottom: 1rem;
    max-width: 70%;
    text-align: center;
    font-size: var(--font-size);
}

.main__show-answer-button {
    padding: 1rem;
    background-color: transparent;
    border: 0rem solid var(--third-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow-color) 0px 0px 3px 2px;
}

.main__show-answer-button:hover {
    background-color: var(--box-shadow-color);
}

.main__question-hashtag {
    display: flex;
    align-self: flex-start;
    list-style-type: none;
    padding: 0.5rem;
    padding-top: 1rem;
    /* bottom: 0.5rem; */
    gap: 0.5rem;

}

.main__question-hashtag li {
    padding: 0.3rem;
    border-radius: 5px;
    background-color: var(--hashtag-background-color);
}

/* Footer with three button*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow-color) 0px 0px 10px 1px;
}

.footer__navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.footer__icon {
    width: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}