@import "./index.css";

.black-dark-mode {
    color: white;
    background-color: black;
    transition: background-color 1s ease-in-out;
}

.grey-dark-mode {
    color: white;
    background-color: rgb(127, 127, 127);
    transition: background-color 1s ease-in-out;
}

.main__personal-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.main__aboutme {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    width: 80%;
}

.main__page-statistics {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.main__stats-button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: transparent;
    border: 0rem solid var(--third-color);
    border-radius: 5px;
    box-shadow: var(--box-shadow-color) 0px 0px 2px 3px;
    gap: 0.5rem;

}

.main__img-bookmarks-counter {
    height: 1rem;
}

.main__img-questions-counter {
    height: 1rem;
}

.main__page-settings {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 80%;
}

.main__darkmode-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}


/* The switch is from https://www.w3schools.com/howto/howto_css_switch.asp */
.main__switch {
    position: relative;
    width: 60px;
    height: 34px;
}

.main__switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* background rectangle of the switch */
.main__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

/*  - main__slider is a span element which has the before property.
    - The ::before and ::after pseudo-elements in CSS allows you to insert content onto a page without it needing to be in the HTML.
    - ::before requires content property ; even an empty one is enough 
    - ::before used to insert an html element in css 
    - transition allows a smooth change
    */

.main__slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.main__slider {
    background-color: #2196F3;
}

input:focus+.main__slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.main__slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.main__slider {
    border-radius: 34px;
}

.main__slider.round {
    border-radius: 50%;
}