:root {
    /* Colors for the page */
    --primary-color: rgb(239, 239, 239);
    /* --secondary-color: rgb(120, 130, 164); */
    --secondary-color: rgb(80, 111, 213);
    --third-color: rgb(209, 209, 209);
    --forth-color: rgb(191, 172, 226);
    --font-color: black;
    --font-color-white: white;
    --font-color-darkmode: white;
    --box-shadow-color: rgba(0, 0, 0, 0.18);
    --button-border-color: rgba(64, 63, 61, 0.527);
    /* --third-color: #000; */
    /* --answers-background-color: rgba(5, 208, 5, 0.788); */
    --answers-background-color: rgba(255, 207, 54, 0.788);
    --font-size: 20px;
    --font-family-header: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-family-main: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-color-hashstags: rgba(255, 255, 255, 0.758);
    --font-color-hashstags: black;
    --hashtag-background-color: rgb(191, 172, 226);
    --font-family-hashtags: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --font-size-hashtags: 0.7rem;
}