:root {
    /* Colors for the page */
    --primary-color: white;
    --secondary-color: rgba(202, 199, 192, 0.605);
    --box-shadow-color: rgba(0, 0, 0, 0.18);
    --button-border-color: rgba(64, 63, 61, 0.527);
    --hashtag-background-color: rgba(202, 199, 192, 0.605);
    --third-color: #000;
    --font-size: 20px;
}